/* .Playlist {
  flex-direction: row;
  display: inline;
} */

.card-body-card {
  /* color: black; */
  margin: 5px;
  padding: 5px;
}

.card-card {
  background-color: whitesmoke;
  border-radius: 20px;
  border: 2px solid whitesmoke;
  box-shadow: 5px 5px 20px rgba(255, 255, 255, 1);
  animation: change-boxshadow 4s linear infinite alternate;
  max-width: 540px;
  height: 650px !important;
  /* z-index: -500px; */
}

.card-img-top {
  padding: 15px 30px 0px 30px;
}

.song-title {
  margin: 0px 0 5px 0;
}

.song-album {
  margin: 0px 0 15px 0;
}

.details-btn {
  border-radius: 15px;
}

@keyframes change-boxshadow {
  0% {
    box-shadow: 5px 5px 20px rgba(255, 255, 255, 1);
  }

  50% {
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 1);
  }

  100% {
    box-shadow: 5px 5px 20px rgba(255, 255, 255, 1);
  }
}