.form-control {
  width: 250px;
}

.logo {
  margin-left: 15px;
}

.btn-submit {
  width: 250px;
}

.create-playlist ,.title, .desc, .btn-submit {
  margin-left: -553px;
}

.form-playlist {
  margin-left: 41%;
}

.not-found {
  margin-left: 20px;
}

.pembatas-form{
  color: whitesmoke;
}