.playlist-track {
  margin-left: 75px;
  margin-bottom: 75px;
  float: left;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 350px));
  grid-template-rows: repeat(auto-fit, minmax(350px, 600px));
}

.card-body-track {
  /* color: black; */
  margin: 5px;
  padding: 5px;
}

.card-track {
  border-radius: 20px;
  border: 2px solid whitesmoke;
  box-shadow: 5px 5px 20px rgba(255, 255, 255, 1);
  animation: change-boxshadow 4s linear infinite alternate;
  /* width: 300px;
  height: 550px; */
  background-color: whitesmoke;
  /* margin-left: 30px; */
  /* z-index: -500px; */
}

.card-img-top {
  border-radius: 50px;
  padding: 10px 30px 10px 30px;
  width: 100%;
  height: 100%;
}

#song-title {
  margin: 0px 0 5px 0;
}

#song-album {
  margin: 0px 0 10px 0;
}

.garis-pembatas {
  border-bottom: 1px solid grey;
  width: 50%;
}

.btn-track {
  /* border-radius: 15px; */
  /* width: 150px;
  height: 40px;
  margin: 10px; */
  font-size: 16px;
  display: block;
}

@keyframes change-boxshadow {
  0% {
    box-shadow: 5px 5px 20px rgba(255, 255, 255, 1);
  }

  50% {
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 1);
  }

  100% {
    box-shadow: 5px 5px 20px rgba(255, 255, 255, 1);
  }
}