.App {
  font-family: sans-serif;
  /* min-height: 1800px; */
}

.jumbotron {
  color: whitesmoke;
  padding: 2rem 1rem;
  background-color: black;
}

.jumbotron-2 {
  color: black;
  padding: 2rem 1rem;
}

#svg {
  margin: -5px -5px 0 0;
}